{% extends 'base/return_base.html' %}

{% block content %}
<div class="container">
    <div class="row mt-5">
            <div class="col">
                <h1>Directions:</h1>
            </div>
    </div>
    <div class="row mt-2">
        <div class="col-6">
            <p>{{directions}}</p>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-8">
            <iframe
                width="600"
                height="450"
                style="border:0"
                loading="lazy"
                allowfullscreen
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/directions?origin={{origin}}&destination=place_id:{{place_id}}&key={{key}}">
            </iframe>
        </div>
        
    </div>
</div>

<script>

</script>
{% endblock %}