{% extends 'base/return_base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <h1 class="mt-3">Restaurants Near You</h1>
            </div>
        </div>
    </div>
    <div class="container mt-3">
        {% for line in google_response %}
            <div class="row justify-content-center">
                <div class="col-10 border rounded shadow-sm mt-3 mb-3">
                    <div class="row mt-3">
                        <div class="col-8 child">
                            <h3 id="restaurantName">{{line['name']}}</h3>
                        </div>
                        <div class="col-2 child">
                            <!-- <a href="/{{line['name']}}/directions" class="btn btn-primary">Directions</a> -->
                            <a onclick="giveDirections(this)" id="{{line['place_id']}}" class="btn btn-primary">Directions</a>
                            <!-- <a onclick="giveDirections(this)" id="{{line['geometry']['location']['lat']|string + ' ' + line['geometry']['location']['lng']|string}}" class="btn btn-primary">{{line['place_id']}}</a> -->
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4 mt-1">
                            {% if line['opening_hours'] %}
                                {% if line['opening_hours']['open_now'] == True %}
                                    <p class="text-success">Open!</p>
                                {% else %}
                                    <p class="text-danger">Closed!</p>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class="col mt-1">
                            <p>Rating: {{line['rating']}}</p>
                        </div>
                        {% if line['price_level'] %}
                        <div class="col mt-1">
                            <p>Price level: {{line['price_level']}}</p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        {% endfor %}
    </div>
    <script>
        function giveDirections(e){
            var parent = e.parentNode.parentNode
            var restaurantPlaceId = parent.querySelectorAll('.child')[1].getElementsByTagName('a')[0].id
            var currentURL = window.location.href
            window.location.href = '/directions/'+ findAddressInURL(currentURL) + '/' + encodeURIComponent(restaurantPlaceId) 
        }
        function findAddressInURL(address, target){
            var split = address.split('/')
            var lastElement = split[split.length - 1]

            return lastElement
        }
    </script>
{% endblock %}